<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="product-card.component.css">

    <title>Product</title>
</head>
<body>
    
        <div class="card">
            
            @if (product) {

            <h1>{{product['Category'].title}}</h1>

            <h2> {{product.name}} </h2>
            
            <p> {{product.price}} € </p>

            <h3> {{product.description}} </h3>
    
            }
        </div>

</body>
</html>