<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

<!--   <div>
    <a routerLink="/home">Home</a>
    <br>
    <a routerLink="/products">Liste des produits</a>
    <br>
    <a routerLink="/categories">Liste des catégories</a>
    <br>
    <a routerLink="/admin">Admin</a>
    <br>
    <form (ngSubmit)="onSubmit()">
      <input [(ngModel)]="text" name="searchText" placeholder="Rechercher">
    </form>

    <router-outlet></router-outlet>
    
  </div> -->

  <h2>Suggestions de produits :</h2>

  <div class="container">
    @if(randomProducts.length >=  3) {
      @for (product of randomProducts; track product.id) {
        <app-product-card  routerLink="/product/{{product.id}}" [id]="product.id"></app-product-card>
    }
    }
</div>

</body>

</html>